In [96]:
import pandas as pd

In [97]:
# Clean 2020 Jan - May crime data

crime_2020_df = pd.read_csv("raw_data/2020_1-5_Jan-May.csv")
crime_2020_df = crime_2020_df.rename(columns={"Occurrence\nDate": "Date", 
                                              "Occurrence\nHour": "Hour",
                                              "NIBRS\nClass": "NIBRS_Class",
                                              "NIBRSDescription": "Offense_Type",
                                              "Offense\nCount": "Offense_Count",
                                              "Block Range": "Block_Range",
                                              "StreetName": "Street_Name",
                                              "Street\nType": "Street_Type",
                                              "ZIP Code": "Zip_Code"})
crime_2020_df.columns

Index(['Incident', 'Date', 'Hour', 'NIBRS_Class', 'Offense_Type',
       'Offense_Count', 'Beat', 'Premise', 'Block_Range', 'Street_Name',
       'Street_Type', 'Suffix', 'City', 'Zip_Code'],
      dtype='object')

In [98]:
# Only take 2020 data we need
crime_2020_df = crime_2020_df[['Date','Hour','Offense_Type','Offense_Count','Premise','Block_Range','Street_Name','Street_Type','City']]
crime_2020_df

,Date,Hour,Offense_Type,Offense_Count,Premise,Block_Range,Street_Name,Street_Type,City
0,1/1/20,0,Theft of motor vehicle parts or accessory,1,"Residence, Home (Includes Apartment)",9311,BELLA PINE,CT,HOUSTON
1,1/1/20,0,Aggravated Assault,1,"Residence, Home (Includes Apartment)",8701,GUSTINE,LN,HOUSTON
2,1/1/20,0,"Destruction, damage, vandalism",1,"Residence, Home (Includes Apartment)",8064,LENORE,NaN,HOUSTON
3,1/1/20,0,Simple assault,1,"Residence, Home (Includes Apartment)",5930,DASHWOOD,DR,HOUSTON
4,1/1/20,0,"Destruction, damage, vandalism",1,"Residence, Home (Includes Apartment)",5218,KENILWOOD,DR,HOUSTON
...,...,...,...,...,...,...,...,...,...
86909,5/31/20,23,Theft of motor vehicle parts or accessory,1,"Parking Lot, Garage",16501,CENTRAL GREEN,BLVD,HOUSTON
86910,5/31/20,23,Theft from motor vehicle,1,"Parking Lot, Garage",7815,WILLOW CHASE,BLVD,HOUSTON
86911,5/31/20,23,Intimidation,1,"Residence, Home (Includes Apartment)",9550,ELLA LEE,LN,HOUSTON
86912,5/31/20,23,Motor vehicle theft,1,"Parking Lot, Garage",10000,FANNIN,ST,HOUSTON
86913,5/31/20,23,Theft from motor vehicle,1,"Parking Lot, Garage",10421,CLAY,RD,HOUSTON

In [99]:
# Clean 2019 Jan - Dec crime data

crime_2019_df = pd.read_csv("raw_data/2019_1-12_Jan-Dec.csv")
crime_2019_df = crime_2019_df.rename(columns={"Occurrence\nDate": "Date", 
                                              "Occurrence\nHour": "Hour",
                                              "NIBRS\nClass": "NIBRS_Class",
                                              "NIBRSDescription": "Offense_Type",
                                              "Offense\nCount": "Offense_Count",
                                              "Block Range": "Block_Range",
                                              "StreetName": "Street_Name",
                                              "Street\nType": "Street_Type",
                                              "ZIP Code": "Zip_Code"})
crime_2019_df.columns

Index(['Incident', 'Date', 'Hour', 'NIBRS_Class', 'Offense_Type',
       'Offense_Count', 'Beat', 'Premise', 'Block_Range', 'Street_Name',
       'Street_Type', 'Suffix', 'City', 'Zip_Code'],
      dtype='object')

In [100]:
# Only take 2019 data we need
crime_2019_df = crime_2019_df[['Date','Hour','Offense_Type','Offense_Count','Premise','Block_Range','Street_Name','Street_Type','City']]
crime_2019_df

,Date,Hour,Offense_Type,Offense_Count,Premise,Block_Range,Street_Name,Street_Type,City
0,1/1/19,0,"Destruction, damage, vandalism",1,"Residence, Home (Includes Apartment)",9622,SAN CARLOS,NaN,HOUSTON
1,1/1/19,0,"Drug, narcotic violations",1,"Highway, Road, Street, Alley",NaN,EAST,FWY,HOUSTON
2,1/1/19,0,"Destruction, damage, vandalism",1,"Residence, Home (Includes Apartment)",16718,LONE QUAIL,CT,HOUSTON
3,1/1/19,0,Weapon law violations,1,"Residence, Home (Includes Apartment)",1909,MELBOURNE,NaN,HOUSTON
4,1/1/19,0,Aggravated Assault,1,"Residence, Home (Includes Apartment)",4034,OSBY,DR,HOUSTON
...,...,...,...,...,...,...,...,...,...
219029,12/31/19,23,Simple assault,1,"Residence, Home (Includes Apartment)",3809,SOUTHLAWN,ST,HOUSTON
219030,12/31/19,23,Aggravated Assault,1,"Residence, Home (Includes Apartment)",6600,HILLCROFT,AVE,HOUSTON
219031,12/31/19,23,Shoplifting,1,Convenience Store,2724,QUITMAN,ST,HOUSTON
219032,12/31/19,23,Intimidation,1,"Highway, Road, Street, Alley",9400,GULF,FWY,HOUSTON
219033,12/31/19,23,"Drug, narcotic violations",1,"Highway, Road, Street, Alley",9400,GULF,FWY,HOUSTON

In [101]:
# Clean 2018 Jan - May crime data
# Need to seperate 2018 data from first half and second half of the year due to different formatting of columns 

all_files = ["raw_data/2018_1_Jan.csv", 
            "raw_data/2018_2_Feb.csv",
            "raw_data/2018_3_Mar.csv",
            "raw_data/2018_4_Apr.csv",
            "raw_data/2018_5_May.csv"]

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

crime_2018_Jan_May_df = pd.concat(li, axis=0, ignore_index=True)
crime_2018_Jan_May_df = crime_2018_Jan_May_df.rename(columns={"Offense Type": "Offense_Type",
                                                              "Block Range": "Block_Range",
                                                              "Street Name": "Street_Name",
                                                              "Street\nType": "Street_Type",
                                                              "Type": "Street_Type",
                                                              "Offenses": "Offense_Count"})
crime_2018_Jan_May_df.columns

Index(['Date', 'Hour', 'Offense_Type', 'Beat', 'Premise', 'Block_Range',
       'Street_Name', 'Street_Type', 'Suffix', 'Offense_Count'],
      dtype='object')

In [102]:
# Only take 2018 Jan-May data we need
crime_2018_Jan_May_df = crime_2018_Jan_May_df[['Date','Hour','Offense_Type','Offense_Count','Premise','Block_Range','Street_Name','Street_Type']]
crime_2018_Jan_May_df['City'] = 'HOUSTON'
crime_2018_Jan_May_df

,Date,Hour,Offense_Type,Offense_Count,Premise,Block_Range,Street_Name,Street_Type,City
0,01/01/2018,18.0,Robbery,1.0,"Field, Woods, Forest, Park",200-299,LENOX,-,HOUSTON
1,01/01/2018,18.0,Theft,1.0,"Road, Street, or Sidewalk",3700-3799,HOUSTON LAKE,DR,HOUSTON
2,01/02/2018,14.0,Theft,1.0,Auto Repair,16700-16799,EASTEX,-,HOUSTON
3,01/04/2018,8.0,Burglary,1.0,Auto Repair,4700-4799,HARRISBURG,BLVD,HOUSTON
4,01/04/2018,18.0,Theft,1.0,Department or Discount Store,5100-5199,HARRISBURG,BLVD,HOUSTON
...,...,...,...,...,...,...,...,...,...
47015,05/28/2018,22.0,Theft,1.0,Apartment Parking Lot,17700-17799,EASTEX,FWY,HOUSTON
47016,05/28/2018,22.0,Theft,1.0,Other Parking Lot,900-999,ST EMANUEL,-,HOUSTON
47017,05/30/2018,23.0,AutoTheft,1.0,Service or Gas Station,10800-10899,SHADY,LN,HOUSTON
47018,05/30/2018,5.0,Theft,1.0,Grocery Store or Supermarket,600-699,VICTORY,DR,HOUSTON
47019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HOUSTON

In [103]:
# Clean 2018 June - Dec crime data

all_files = ["raw_data/2018_6_Jun.csv", 
            "raw_data/2018_7_Jul.csv",
            "raw_data/2018_8_Aug.csv",
            "raw_data/2018_9_Sep.csv",
            "raw_data/2018_10_Oct.csv",
            "raw_data/2018_11_Nov.csv",
            "raw_data/2018_12_Dec.csv"]

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

crime_2018_Jun_Dec_df = pd.concat(li, axis=0, ignore_index=True)
crime_2018_Jun_Dec_df = crime_2018_Jun_Dec_df.rename(columns={"Occurrence Date": "Date",
                                                              "Occurrence Hour": "Hour",
                                                              "NIBRS Description": "Offense_Type",
                                                              "Offense Count": "Offense_Count",
                                                              "Block Range": "Block_Range",
                                                              "Street Name": "Street_Name",
                                                              "Street Type": "Street_Type"})
crime_2018_Jun_Dec_df.columns

Index(['Date', 'Hour', 'Offense_Type', 'Unnamed: 3', 'Offense_Count', 'Beat',
       'Premise', 'Block_Range', 'Street_Name', 'Street_Type', 'Suffix'],
      dtype='object')

In [104]:
# Only take 2018 Jun-Dec data we need
crime_2018_Jun_Dec_df = crime_2018_Jun_Dec_df[['Date','Hour','Offense_Type','Offense_Count','Premise','Block_Range','Street_Name','Street_Type']]
crime_2018_Jun_Dec_df['City'] = 'HOUSTON'
crime_2018_Jun_Dec_df

,Date,Hour,Offense_Type,Offense_Count,Premise,Block_Range,Street_Name,Street_Type,City
0,6/1/18,0,Simple assault,1,"Drug Store, Doctors Office, Hospital",6600-6699,FANNIN,ST,HOUSTON
1,6/1/18,0,"False pretenses, swindle",1,"Residence, Home (Includes Apartment)",8100-8199,MILREDGE,ST,HOUSTON
2,6/1/18,0,All other offenses,1,"Highway, Road, Street, Alley",6400-6499,BELLFORT,AVE,HOUSTON
3,6/1/18,0,Motor vehicle theft,1,"Highway, Road, Street, Alley",8400-8499,FUQUA,ST,HOUSTON
4,6/1/18,0,"Burglary, Breaking and Entering",1,"Residence, Home (Includes Apartment)",4000-4099,FANNIN,ST,HOUSTON
...,...,...,...,...,...,...,...,...,...
145708,12/31/18,23,Aggravated Assault,1,"Residence, Home (Includes Apartment)",3900-3999,GRAPEVINE,ST,HOUSTON
145709,12/31/18,23,Driving under the influence,1,"Highway, Road, Street, Alley",7800-7899,IH 10,FWY,HOUSTON
145710,12/31/18,23,Driving under the influence,1,"Highway, Road, Street, Alley",1300-1399,ST JOSEPH,PKWY,HOUSTON
145711,12/31/18,23,"Drug, narcotic violations",1,"Parking Lot, Garage",5600-5699,CHIMNEY ROCK,RD,HOUSTON
145712,12/31/18,23,Disorderly conduct,1,"Parking Lot, Garage",5600-5699,CHIMNEY ROCK,RD,HOUSTON

In [105]:
clean_crime_data_df = pd.concat([crime_2020_df, 
                                 crime_2019_df,
                                 crime_2018_Jan_May_df, 
                                 crime_2018_Jun_Dec_df,], ignore_index=True)

In [106]:
clean_crime_data_df

,Date,Hour,Offense_Type,Offense_Count,Premise,Block_Range,Street_Name,Street_Type,City
0,1/1/20,0.0,Theft of motor vehicle parts or accessory,1.0,"Residence, Home (Includes Apartment)",9311,BELLA PINE,CT,HOUSTON
1,1/1/20,0.0,Aggravated Assault,1.0,"Residence, Home (Includes Apartment)",8701,GUSTINE,LN,HOUSTON
2,1/1/20,0.0,"Destruction, damage, vandalism",1.0,"Residence, Home (Includes Apartment)",8064,LENORE,NaN,HOUSTON
3,1/1/20,0.0,Simple assault,1.0,"Residence, Home (Includes Apartment)",5930,DASHWOOD,DR,HOUSTON
4,1/1/20,0.0,"Destruction, damage, vandalism",1.0,"Residence, Home (Includes Apartment)",5218,KENILWOOD,DR,HOUSTON
...,...,...,...,...,...,...,...,...,...
498676,12/31/18,23.0,Aggravated Assault,1.0,"Residence, Home (Includes Apartment)",3900-3999,GRAPEVINE,ST,HOUSTON
498677,12/31/18,23.0,Driving under the influence,1.0,"Highway, Road, Street, Alley",7800-7899,IH 10,FWY,HOUSTON
498678,12/31/18,23.0,Driving under the influence,1.0,"Highway, Road, Street, Alley",1300-1399,ST JOSEPH,PKWY,HOUSTON
498679,12/31/18,23.0,"Drug, narcotic violations",1.0,"Parking Lot, Garage",5600-5699,CHIMNEY ROCK,RD,HOUSTON
498680,12/31/18,23.0,Disorderly conduct,1.0,"Parking Lot, Garage",5600-5699,CHIMNEY ROCK,RD,HOUSTON